ul {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    background-color: #7952B3;
}

.listbar {
    float: left;
    padding: 5px;

}

.listhead {
    color: black;
}

a {
    color: aliceblue;
    text-decoration: none;
}

.subfam {
    font-weight: bold;
}

#headpiece {
    font-weight: bold;
    flex-wrap: wrap;
}